* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #006f57;
  overflow: hidden;
  perspective: 1000px;
  font-family: "Rubik Gemstones", sans-serif, cursive;
}

.tree-container {
  position: relative;
  width: 300px;
  height: 450px;
  transform-style: preserve-3d;
  animation: rotateTree 20s linear infinite;
  margin-bottom: 50px;
}

.star {
  position: absolute;
  border-radius: 50%;
  --x: 0;
  --y: 0;
  --z: 0;
  --delay: 0s;
  --color1: #ff7e5f;
  --color2: #feb47b;

  width: 4px;
  height: 4px;
  background: radial-gradient(
    circle at center,
    var(--color1) 0%,
    var(--color2) 100%
  );
  box-shadow: 0 0 8px var(--color1), 0 0 15px var(--color2);
  animation: move 12s var(--delay) linear infinite;
}

.tree__star {
  position: absolute;
  top: -37px;
  left: 152px;
  transform: translateX(-50%);
  font-size: 30px;
  text-shadow: 0 0 20px gold, 0 0 30px orange;
  z-index: 100;
  animation: twinkle 2s infinite ease-in-out;
}

.greeting {
  position: relative;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  z-index: 200;
  margin-top: -50px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de,
    0 0 40px #ff00de;
  animation: textPulse 3s ease-in-out infinite alternate;
}

.name-label {
  position: absolute;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #ff00de;
  opacity: 0;
  transform-style: preserve-3d;
  animation: move 12s linear infinite, fadeInName 2s forwards;
  z-index: 50;
}

@keyframes move {
  0% {
    transform: rotateY(0deg) translateZ(var(--z)) translateX(var(--x))
      translateY(0) rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg) translateZ(var(--z)) translateX(var(--x))
      translateY(0) rotateY(-360deg);
  }
}

@keyframes rotateTree {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.5;
    transform: translateX(-50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) scale(1.2);
  }
}

@keyframes textPulse {
  0% {
    opacity: 0.8;
    transform: scale(1);
    text-shadow: 0 0 10px #ff00de, 0 0 20px #ff00de;
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
    text-shadow: 0 0 20px #ff00de, 0 0 40px #ff00de, 0 0 60px #ff00de;
  }
}

@keyframes fadeInName {
  0% {
    opacity: 0;
    scale: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}
